:root {
  /* Colors */
  --clr-background: hsl(0, 0%, 100%);
  --clr-heading: hsl(54, 77%, 75%);
  --clr-brushes: hsl(157, 100%, 49%);
  --clr-frames: hsl(0, 79%, 72%);
  --clr-paint: hsl(197, 71%, 73%);
  --clr-span: hsl(240, 100%, 50%);

  /* Font Family */
  --ff-main: "Helvetica", sans-serif;

  /* Font Style */
  --fw-regular: 400;
  --fw-light: 100;
  --fw-bold: 700;

  --fs-small: 0.275rem;
  --fs-regular: 1rem;
  --fs-large: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1140px;
}

h1 {
  font-family: var(--ff-main);
}
