:root {
  /* Colors */
  --clr-main: hsl(0, 0%, 100%);
  --clr-heading: hsl(54, 77%, 75%);
  --clr-brushes: hsl(157, 100%, 49%);
  --clr-frames: hsl(0, 79%, 72%);
  --clr-paint: hsl(197, 71%, 73%);
  --clr-span: hsl(240, 100%, 50%);
  --clr-border: hsl(0, 100%, 50%);

  /* Font Family */
  --ff-main: "Helvetica", sans-serif;

  /* Font weights */
  --fw-regular: 400;
  --fw-light: 100;
  --fw-bold: 700;

  /* Font sizes */
  --fs-small: 0.275rem;
  --fs-regular: 1rem;
  --fs-large: 2rem;
  --fs-XL: 4rem;
  --fs-xxl: 6.25rem;
}

/*******************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: lightgray;
}

body {
  font-family: var(--ff-main);
  width: 1250px;
  margin: 100px auto;
  background-color: var(--clr-main);
  border: 2px solid var(--clr-border);
}

/* HEADER SECTION */
header {
  position: relative;
  margin: 80px 10px;
}

h1 {
  text-align: center;
  font-size: var(--fs-xxl);
  font-weight: var(--fw-bold);
  background-image: url("/img/pattern.jpeg");
  color: var(--clr-heading);
}

/* MAIN SECTION */

main {
  margin: 0px 10px;
}

h2 {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  color: var(--clr-main);
  margin-bottom: 30px;
}

.heading-brushes {
  background-color: var(--clr-brushes);
}

.heading-frames {
  background-color: var(--clr-frames);
}

.heading-paint {
  background-color: var(--clr-paint);
}

span {
  color: var(--clr-span);
}
