/* DEFAULT STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
/* MAIN STYLES */
body {
  width: 99%;
  margin: auto;
}

/* SPAN STYLES */
.pricing {
  color: blue;
  font-weight: bold;
}

/* HEADER SECTION */
.main_header {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background: url("./img/pattern.webp");
  text-align: center;
  margin: 50px 0px;
}
/* IMG STYLES */
img {
  margin-bottom: 15px;
  border-radius: 5px;
}

/* HEADER STYLES */
.header {
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}

/* BRUSH SECTION */
.brush {
  background: mediumspringgreen;
}

/* FRAMES SECTION */
.frames  {
  background: lightcoral;
}

/* PAINT SECTION */
.paint {
  background: skyblue;
}

/* OVERALL HEADING AND PARAGRAPH STYLES */
h3 {
  margin-bottom: 15px;
}

p {
  margin-bottom: 25px;
}




